

<!-- Reactive form -->

<header 
    class="p-3 mb-2"
    style="background-color: cornflowerblue; color: beige;">
        <h2 class="m-3">Add a new product</h2>
</header>
<div class="container">
    
    <div class="row">
        <div class="col-xs-8">
            <form>
              <div class="" style="width: 50rem; margin: 10px;">
                <img [src]="product.images[0]" class="card-img-top" alt="{{ product.title }}" />
                <div class="card-body">
                    

                    <br>

                  
                  <p><span style="font-weight: bold;">Title:</span> </p>

                  <div class="d-flex input-group mb-3">
                    <input 
                    style="width: 100px;font-size: 15px;border-radius: 4px;"
                    type="text" class="form-control" 
                    formControlName="title">
                  </div>


                  <p><span style="font-weight: bold;">Description:</span> </p>
                  
                  <div class="d-flex input-group mb-3">
                    
                    <!-- <span style="width: 100px;font-size: 15px;" class="input-group-text">Description</span> -->
                    <input 
                    style="width: 100px;font-size: 15px;border-radius: 4px;"
                    type="text" class="form-control" 
                    formControlName="description"
                    >
                  </div>

                  <p><span style="font-weight: bold;">Price:</span> </p>
                  <div class="d-flex input-group mb-3">
                    
                    <span
                    style="width: 25px;font-size: 17px;"  
                    class="input-group-text">$</span>
                    
                    
                    <input 
                    style="width: 100px;font-size: 15px;"
                    type="text" class="form-control" 
                    formControlName="price">
                  </div>
                  

                  <button routerLink="/" class="btn btn-outline-success">Go Back</button>
                  <button class="btn btn-outline-primary"
                  >Save</button>
                  <button  class="btn btn-outline-danger" >Delete</button>
                </div>
                
              </div>
            </form>
        </div>
        
    </div>
</div>
  